.in.collapse+a.btn.showdetails:before
{
    content:'Hide details «';
}
.collapse+a.btn.showdetails:before
{
    content:'... Show details »';
}

.card {
    width: 20rem;
    float: left;
    margin: 5px
}